<!DOCTYPE html>
<html lang="en">
<head>
    {% if request.user_agent.platform == "iphone" %}
        <meta http-equiv="refresh" content="0; url=https://apps.apple.com/us/app/zirtue-lend-borrow-money/id1414766636">
    {% elif request.user_agent.platform == "android" %}
        <meta http-equiv="refresh" content="0; url=https://play.google.com/store/apps/details?id=com.zirtue.app&hl=en_US">
    {% else %}
        <meta http-equiv="refresh" content="0; url=https://zirtue.com/">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Zirtue Forwarding Test</title>
</head>
<body>
<div>
    <h1>
        Zirtue Forwarding Test v.2
    </h1>
    <div class="content">
        <p>
            Platform: {% print(request.user_agent.platform) %}
        </p>
    </div>

    <p>
        <a href="https://apps.apple.com/us/app/zirtue-lend-borrow-money/id1414766636">
            iPhone
        </a>
    </p>
    <p>
        <a href="https://apps.apple.com/us/app/zirtue-lend-borrow-money/id1414766636">
            Android
        </a>
    </p>
    <p>
        <a href="https://zirtue.com/">
            Zirtue Website
        </a>
    </p>
</div>
</body>
</html>